body{
    background-color:#DDD;
}

h1 {
    background-color: #217FD2;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    padding: .2em;
}

.qrcode {
  width: 46%;
  display: inline-block;
  margin: 20px 0 20px 2%;
}

.detail {
  display: inline-block;
  width: 55%;
  vertical-align: top;
  margin: 10px;
}
